.background {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    background-image: radial-gradient(circle at bottom, #ff0081, #ff3102);
}

/* Necessary to support hidden overflow overwriting */
.allow-info-overflow {
    transform: scale(1);
}

.overflowY-container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overflowY-container-inside {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
    min-height: 100vh;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1%;
    padding-right: 1%;
}

.parent-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.form-container {
    position: relative;
}

.turnInContainer {
    border-radius: 1rem;
    justify-self: center;
    width: 100%;
    background-color: rgb(28, 28, 28);

    overflow: hidden;
    position: relative;

    :hover {
        cursor: pointer;
    }
}

.buttonsShrink {
    animation: smallButtonsTransition 0.5s ease-in-out forwards;
    overflow: hidden;
}

.buttonsShrink2 {
    animation: bigButtonsTransition 0.5s ease-in-out forwards;
    overflow: hidden;
}

/* Go to 'turnIn' state */
@keyframes smallButtonsTransition {
    0% {
        width: var(--initial-width);
        height: var(--initial-height);
    }

    40% {
        width: calc(var(--initial-width) - 1rem);
    }

    80% {
        width: 14rem;
    }

    100% {
        width: 15rem;
        height: var(--initial-height);
    }
}

/* Go back to 'modify tags' state */
@keyframes bigButtonsTransition {
    0% {
        width: 15rem;
        height: var(--initial-height);
    }

    50% {

        width: calc(var(--initial-width) - 1rem);
    }

    60% {

        width: var(--initial-width);
        height: var(--initial-height);

    }
}

@keyframes buttonsTextAnimation {
    0% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(-1vh);
    }

    100% {
        transform: translateY(50vh);
        height: 1rem;
        visibility: hidden;
    }
}

.turnInTransition {
    animation: buttonsTextAnimation 0.5s ease-in-out forwards;
}

@keyframes buttonsTextAnimation2 {
    0% {
        transform: translateY(-50vh);
    }

    70% {
        transform: translateY(1vh);
    }

    80% {
        transform: translateY(0vh);
    }
}

.turnInTransition2 {
    animation: buttonsTextAnimation2 0.5s ease-in-out;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.buttonsIn {
    animation: buttonsIn 0.5s ease-in-out forwards;
    overflow: hidden;
}

.buttonsOut {
    animation: buttonsOut 0.5s ease-in-out forwards;
    overflow: hidden;
}

@keyframes buttonsIn {
    0% {
        transform: translateY(60vh);
    }

    85% {
        transform: translateY(-2vh);
    }

    100% {
        transform: translateY(0vh);
    }
}

@keyframes buttonsOut {
    0% {
        transform: translateY(0vh);
    }

    25% {
        transform: translateY(-4vh);
    }

    100% {
        transform: translateY(100vh);
    }
}

.trainingIn {
    animation: trainingIn 0.6s ease-in-out forwards;
    overflow: hidden;
}

.trainingOut {
    animation: trainingOut 0.4s ease-in-out forwards;
    overflow: hidden;
}

@keyframes trainingIn {
    0% {
        transform: translateX(-80vw);
    }

    85% {
        transform: translateX(2vw);
    }

    100% {
        transform: translateX(0vw);
    }
}

@keyframes trainingOut {
    0% {
        transform: translateX(0vw);
    }

    25% {
        transform: translateX(4vw);
    }

    100% {
        transform: translateX(-80vw);
    }
}

.custom-input {
    background-color: white;
}

.inside-card {
    width: 100%;
    min-height: 30rem;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    border-radius: 2rem;
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: 1.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.inside-card-podium {
    width: 120%;
    position: relative;
    right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 1rem;
    background-color: rgb(189, 189, 189);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.5rem;
}

.top-bar-1:hover,
.top-bar-2:hover,
.top-bar-3:hover,
.top-bar-student:hover {
    transform: translateY(-0.5rem);
}

.top-bar-1 {
    height: 100vh;
    width: calc(100% + 2rem);
    min-width: 10rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: 1.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    top: 4.5rem;
    right: calc(100% + 2rem);
    position: relative;
    z-index: 20 !important;

    transition: transform 0.05s ease-out;
}

.top-bar-2 {
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: 1.3rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
    border-top-left-radius: 1rem;
    position: relative;
    z-index: 0 !important;
    top: 5.5rem;

    transition: transform 0.05s ease-out;
}

.top-bar-3 {
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: 1.2rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
    border-top-right-radius: 1rem;
    position: relative;
    top: 12.5rem;
    left: calc(100% + 1rem);

    transition: transform 0.05s ease-out;
}

.top-bar-student {
    height: 100vh;
    width: calc(80%);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: 1.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    top: 3.75rem;
    position: relative;
    z-index: 20 !important;

    transition: transform 0.05s ease-out;
}

.inside-card h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: rgb(28, 28, 28);
}

.inside-card h2 {
    font-size: 7rem;
    font-weight: 500;
    opacity: 60%;
    position: relative;
    bottom: 2rem;
}

.inside-card h3 {
    font-size: 4rem;
    font-weight: 500;
    opacity: 60%;
    position: relative;
    bottom: 2rem;
}

.inside-login-card {
    height: 100%;
    transition: transform 0.5s ease-in-out;
    border-radius: 2rem;
    background-color: white;
    padding: 2rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: 1.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

/* Animation for the warning below */
@keyframes slideUpFadeIn {
    from {
        opacity: 0;
        transform: translateY(calc(-0.7rem + 20px));
    }

    to {
        opacity: 1;
        transform: translateY(-0.7rem);
    }
}

/* Warning for the student name exceeding maximum length */
.slideUpFadeIn {
    animation: slideUpFadeIn 0.3s ease-in-out;
    position: absolute;
    transform: translateY(-0.7rem);
}

.shrink {
    animation: smallTransition 0.8s ease-in-out forwards;
    overflow: hidden;
    height: 6rem;
}

/* Go to 'waiting' state */
@keyframes smallTransition {
    0% {
        width: auto;
        height: var(--initial-height);
    }

    60% {
        height: calc(var(--initial-height) + 1rem);
    }

    90% {
        height: 5.3rem;
    }

    100% {
        height: 6rem;
    }
}

@keyframes formAnimation {
    0% {
        transform: translateX(0);
    }

    15% {
        transform: translateX(3vw);
    }

    100% {
        transform: translateX(-100vw);
        height: 1rem;
        visibility: hidden;
    }
}

.form-animated {
    animation: formAnimation 0.5s ease-in-out forwards;
}

@keyframes formAnimation2 {
    0% {
        transform: translateX(100vw);
    }

    80% {
        transform: translateX(-0vw);
    }

    100% {
        transform: translateX(0vw);
    }
}

.form-animated-2 {
    animation: formAnimation2 0.5s ease-in-out forwards;
}

.inside-login-card h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: rgb(28, 28, 28);
}

.inside-card-2 {
    width: 100%;
    min-width: 16rem;
    max-width: 35rem;
    height: 26rem;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    border-radius: 1rem;
    background-color: rgb(210, 210, 210);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.2rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
    z-index: 0;
}

.contain {
    width: 100%;
    min-width: 16rem;
    max-width: 35rem;
    height: 26rem;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 0;
}

.inside-card-2-header {
    width: 100%;
    height: 3rem;
    background-color: rgb(28, 28, 28);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    z-index: 10;
    font-size: 1.4rem;
    overflow: hidden;
}

.inside-card-matrix {
    width: 13rem;
    height: 13rem;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    border-radius: 1rem;
    background-color: rgb(223, 223, 223);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.2rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
    z-index: 0;
}

.matrix {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: -1;
}

.contain-results::before {
    content: '';
    position: absolute;
    top: 3.8rem;
    left: 2.2rem;
    width: 2.45rem;
    height: 97%;
    background: #19bd24;
    opacity: 0;
    transition: opacity 0.05s ease-out;
    border-radius: 5rem;
    transform: rotate(-45deg);
    transform-origin: top left;
    z-index: 2;
    mix-blend-mode: multiply;
}

.contain-results.matrix-loaded::before {
    opacity: 0.375;
}

.matrix-item {
    font-size: 1.3rem;
    z-index: -1;
}

.matrix-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    z-index: -1;
}

.contain-results {
    width: 13rem;
    height: 13rem;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 0;
    position: relative;
}

.inside-card-mistakes {
    width: calc(100% - 2rem);
    min-width: 15rem;
    max-width: 35rem;
    height: 19.5rem;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    border-radius: 1rem;
    background-color: #dfdfdf;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.2rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
    z-index: 0;
}

.contain-mistakes {
    width: calc(100% - 2rem);
    min-width: 16rem;
    max-width: 35rem;
    height: 26rem;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 0;
}

.inside-card-mistakes-slim {
    width: calc(100% - 2rem);
    min-width: 13rem;
    max-width: 35rem;
    height: 19.5rem;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    border-radius: 1rem;
    background-color: #dfdfdf;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.2rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
    z-index: 0;
}

.contain-mistakes-slim {
    width: calc(100% - 2rem);
    min-width: 14rem;
    max-width: 35rem;
    height: 21rem;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 0;
}

.inside-card-mistakes-header {
    width: calc(100% - 1rem);
    height: 2.5rem;
    background-color: #1c1c1c;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    z-index: 10;
    font-size: 1.3rem;
    overflow: hidden;
}

.inside-card-results-header {
    width: 100%;
    height: 2rem;
    background-color: rgb(163, 163, 163);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding-left: 0.9rem;
    padding-right: 1.6rem;
    z-index: 10;
    font-size: 1.4rem;
    overflow: hidden;
}

.inside-card-results-header-side {
    height: 100%;
    width: 2rem;
    background-color: rgb(136, 136, 136);
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding-top: 1.6rem;
    padding-bottom: 1.1rem;
    z-index: 10;
    font-size: 1.4rem;
    overflow: hidden;
}

.matrix-bold-diphthong {
    font-weight: bold;
    color: white;
}

.matrix-bold-hiatus {
    font-weight: bold;
    color: white;
}

.matrix-bold-general {
    font-weight: bold;
    color: white;
}

.smooth-scrollbar-track {
    background: transparent;
}

.smooth-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.animated-button {
    border-radius: 1rem;
    width: 100%;
    background-color: rgb(28, 28, 28);

    overflow: hidden;
    position: relative;

    :hover {
        cursor: pointer;
    }
}

.info-button {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: #19bd24;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 10px;
    right: 10px;
    font-size: 14px;

    position: fixed;

    z-index: 1000;
}

.info-button.left {
    right: auto;
}

.info-button:hover {
    cursor: pointer;
    background-color: #467d35;
}

.tooltip {
    visibility: hidden;
    width: 12rem;
    background-color: #467d35;
    color: #fff;
    text-align: center;
    border-radius: 1rem;
    padding: 0.5rem;
    position: absolute;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.2s;

    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);

    font-size: 1rem;
}

.info-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip.top {
    bottom: 105%;
}

.tooltip.bottom {
    top: 105%;
}

.tooltip.left {
    right: 105%;
}

.tooltip.right {
    left: 105%;
}

.animated-button-diphthong {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 100%;
    background-color: rgb(28, 28, 28);

    overflow: hidden;
    position: relative;

    :hover {
        cursor: pointer;
    }
}

.animated-button-hiatus {
    border-radius: 0rem;
    width: 100%;
    background-color: rgb(28, 28, 28);

    overflow: hidden;
    position: relative;

    :hover {
        cursor: pointer;
    }
}

.animated-button-general {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 100%;
    background-color: rgb(28, 28, 28);

    overflow: hidden;
    position: relative;

    :hover {
        cursor: pointer;
    }
}

.animated-button-bg {
    height: 128px;
    width: 128px;
    background-color: #19bd24;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.animated-button-bg-diphthong {
    height: 128px;
    width: 128px;
    background-color: #f5d105;

    z-index: 1;
    position: absolute;
    top: 85%;
    right: 13%;

    border-radius: 50%;

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.animated-button-bg-hiatus {
    height: 128px;
    width: 128px;
    background-color: #127edd;

    z-index: 1;
    position: absolute;
    top: 85%;
    right: 13%;

    border-radius: 50%;

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.animated-button-bg-general {
    height: 128px;
    width: 128px;
    background-color: #ee1212;

    z-index: 1;
    position: absolute;
    top: 85%;
    right: 13%;

    border-radius: 50%;

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.animated-button:hover .animated-button-bg {
    -webkit-transform: scale(12);
    -ms-transform: scale(12);
    transform: scale(12);
}

.animated-button-diphthong:hover .animated-button-bg-diphthong,
.animated-button-hiatus:hover .animated-button-bg-hiatus,
.animated-button-general:hover .animated-button-bg-general,
.turnInContainer:hover .animated-button-bg {
    -webkit-transform: scale(7);
    -ms-transform: scale(7);
    transform: scale(7);
}

.animated-button-text {
    overflow: hidden;

    font-weight: bold;
    color: #FFF;

    z-index: 2;
    position: relative;
}

/* Go out of page */
@keyframes Bounce {
    0% {
        transform: translateX(0vw);
    }

    70% {
        transform: translateX(10vw);
    }

    100% {
        transform: translateX(-100vw);
    }

    110% {
        transform: translateX(100vw);
    }
}

/* Come into page */
@keyframes inverseBounce {
    0% {
        transform: translateX(130vw);
    }

    60% {
        transform: translateX(-10vw);
    }

    100% {
        transform: translateX(0vw);
    }
}

/* Come into results */
@keyframes podium-1 {
    0% {
        transform: translateY(70vh);
    }

    60% {
        transform: translateY(-5vh);
    }

    100% {
        transform: translateY(0vh);
    }
}

/* Come into results */
@keyframes podium-2 {
    0% {
        transform: translateY(70vh);
    }

    50% {
        transform: translateY(-5vh);
    }

    90% {
        transform: translateY(0vh);
    }
}

/* Come into results */
@keyframes podium-3 {
    0% {
        transform: translateY(70vh);
    }

    40% {
        transform: translateY(-5vh);
    }

    80% {
        transform: translateY(0vh);
    }
}

/* Come into results */
@keyframes podium-student {
    0% {
        transform: translateY(70vh);
    }

    80% {
        transform: translateY(-3vh);
    }

    100% {
        transform: translateY(0vh);
    }
}

.transitioning {
    animation: Bounce 0.5s ease-in-out;
}

.entering {
    animation: inverseBounce 0.45s ease-in-out;
}

.animated-word.entering,
.progress.entering {
    animation: animatedWordEntering 0.65s ease-in-out;
}

.animated-word.out,
.progress.out {
    animation: animatedWordOut 0.65s ease-in-out forwards;
}

/* Come into page */
@keyframes animatedWordEntering {
    0% {
        transform: translateX(100vw);
    }

    70% {
        transform: translateX(-1vw);
    }

    100% {
        transform: translateX(0vw);
    }
}

/* Go out of page */
@keyframes animatedWordOut {
    0% {
        transform: translateX(0vw);
    }

    10% {
        transform: translateX(1vw);
    }

    100% {
        transform: translateX(-100vw);
    }
}

.podium-1 {
    animation: podium-1 1.5s ease-in-out;
}

.podium-2 {
    animation: podium-2 1.5s ease-in-out;
}

.podium-3 {
    animation: podium-3 1.5s ease-in-out;
}

.podium-student {
    animation: podium-student 0.6s ease-in-out;
}

.student-item {
    width: 100%;
    align-items: center;
    padding: 5px 0;
}

.progress-bar-container {
    width: 80%;
    background-color: #f3f3f3;
    border-radius: 50px;
    overflow: hidden;
}

.progress-bar-container-dark {
    width: 70%;
    background-color: #dadada;
    border-radius: 50px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #19bd24;
    border-radius: inherit;
    transition: width 0.5s ease-in-out;
}

.progress-bar-gold {
    height: 100%;
    background-color: #c79f26;
    border-radius: inherit;
    transition: width 0.5s ease-in-out;
}

.progress-bar-silver {
    height: 100%;
    background-color: #969898;
    border-radius: inherit;
    transition: width 0.5s ease-in-out;
}

.progress-bar-bronce {
    height: 100%;
    background-color: #986032;
    border-radius: inherit;
    transition: width 0.5s ease-in-out;
}

.hover-score {
    visibility: hidden;
    width: 5rem;
    background-color: #467d35;
    color: #fff;
    text-align: center;
    border-radius: 1rem;
    padding: 0.2rem;
    position: absolute;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.1s;
    left: 50%;

    cursor: default;
    font-size: 1rem;
}

[class^="top-bar-"] .hover-score {
    left: auto;
}

.see-score:hover .hover-score {
    visibility: visible;
    opacity: 1;
}

.hover-score-gold {
    background-color: #a07f1c;
}

.hover-score-silver {
    background-color: #636565;
}

.hover-score-bronce {
    background-color: #643f21;
}

.word-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
}

.word {
    position: relative;
    width: 100%;
}

.move-old.diphthong {
    animation: word-old 0.3s ease-in-out;
    --start-color: #eae794;
    --end-color: #ddb412;
}

.move-old.hiatus {
    animation: word-old 0.3s ease-in-out;
    --start-color: #94c2ea;
    --end-color: #127edd;
}

.move-old.general {
    animation: word-old 0.3s ease-in-out;
    --start-color: #ea9494;
    --end-color: #dd1212;
}

.move-old.nothing {
    animation: word-old 0.3s ease-in-out;
    --start-color: #1c1c1c;
    --end-color: #1c1c1c;
}

@keyframes word-old {
    0% {
        transform: translateX(0vw);
        color: var(--start-color);
    }

    60% {
        transform: translateX(3vw);
    }

    100% {
        transform: translateX(-50vw);
        color: var(--end-color);
    }

    110% {
        transform: translateX(-50vw);
    }
}

.word.move-new {
    animation: word-new 0.3s ease-in-out;
}

@keyframes word-new {
    0% {
        transform: translateX(50vw);
    }

    60% {
        transform: translateX(-3vw);
    }

    100% {
        transform: translateX(0vw);
    }
}

.animated-word {
    border-radius: 0.5rem;
    width: 100%;
    background-color: rgb(134, 134, 134);

    overflow: hidden;
    position: relative;
}

.animated-word-bg {
    height: 128px;
    width: 128px;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -70%;

    border-radius: 50%;

    -webkit-transition: all 0.5s ease, background-color 0s ease;
    -o-transition: all 0.5s ease, background-color 0s ease;
    transition: all 0.5s ease, background-color 0s ease;
}

.hiatus .animated-word-bg {
    background-color: #127edd;
}

.diphthong .animated-word-bg {
    background-color: #f5d105;
}

.general .animated-word-bg {
    background-color: #ee1212;
}

.animated-word.assigned .animated-word-bg {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}

.animated-word-text {
    overflow: hidden;

    font-weight: bold;
    font-size: medium;
    color: #ffffff;

    z-index: 2;
    position: relative;
}