.background {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    padding: 3%;
    overflow: hidden;
    position: relative;
    background-image: radial-gradient(circle at bottom, #ff0081, #ff3102);
}

.parent-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.form-container {
    position: relative;
}

.custom-input {
    background-color: white;
}

.inside-card {
    width: 100%;
    min-height: 30rem;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    border-radius: 2rem;
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: 1.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.inside-card-podium {
    width: 120%;
    position: relative;
    right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 1rem;
    background-color: rgb(189, 189, 189);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.5rem;
}


.top-bar-1 {
    height: 100vh;
    width: calc(100% + 2rem);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: 1.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    top: 4rem;
    right: calc(100% + 2rem);
    position: relative;
    z-index: 20 !important;

    transition: transform 0.05s ease-out;
}

.top-bar-1:hover,
.top-bar-2:hover,
.top-bar-3:hover {
    transform: translateY(-0.5rem);
}


.top-bar-2 {
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: 1.3rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
    border-top-left-radius: 1rem;
    position: relative;
    z-index: 0 !important;
    top: 5rem;

    transition: transform 0.05s ease-out;
}

.top-bar-3 {
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: 1.2rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
    border-top-right-radius: 1rem;
    position: relative;
    top: 12rem;
    left: calc(100% + 1rem);

    transition: transform 0.05s ease-out;
}




.inside-card h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: rgb(28, 28, 28);
}

.inside-card h2 {
    font-size: 7rem;
    font-weight: 500;
    opacity: 60%;
    position: relative;
    bottom: 2rem;
}

.inside-card h3 {
    font-size: 4rem;
    font-weight: 500;
    opacity: 60%;
    position: relative;
    bottom: 2rem;
}

.inside-login-card {
    width: 100%;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    border-radius: 2rem;
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: 1.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
}

.inside-login-card h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: rgb(28, 28, 28);
}

.inside-card-2 {
    width: 100%;
    min-width: 16rem;
    max-width: 35rem;
    height: 26rem;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    border-radius: 1rem;
    background-color: rgb(210, 210, 210);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.2rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
}

.smooth-scrollbar-track {
    background: transparent;
    /* Make the track transparent */
}

.smooth-scrollbar-thumb {
    background: #888;
    /* Customize the thumb color */
    border-radius: 10px;
    /* Optional: Add rounded corners to the thumb */
}

.animated-button {
    border-radius: 1rem;
    width: 100%;
    background-color: rgb(28, 28, 28);

    overflow: hidden;
    position: relative;

    :hover {
        cursor: pointer;
    }
}

.animated-button-bg {
    height: 128px;
    width: 128px;
    background-color: #19bd24;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.animated-button:hover .animated-button-bg {
    -webkit-transform: scale(12);
    -ms-transform: scale(12);
    transform: scale(12);
}

.animated-button-text {
    overflow: hidden;

    font-weight: bold;
    color: #FFF;

    z-index: 2;
    position: relative;
}


/* Go out of page */
@keyframes Bounce {
    0% {
        transform: translateX(0vw);
    }

    70% {
        transform: translateX(10vw);
    }

    100% {
        transform: translateX(-100vw);
    }

    110% {
        transform: translateX(100vw);
    }
}

/* Come into page */
@keyframes inverseBounce {
    0% {
        transform: translateX(130vw);
    }

    60% {
        transform: translateX(-10vw);
    }

    100% {
        transform: translateX(0vw);
    }
}

/* Come into results */
@keyframes podium-1 {
    0% {
        transform: translateY(70vh);
    }

    60% {
        transform: translateY(-5vh);
    }

    100% {
        transform: translateY(0vh);
    }
}

/* Come into results */
@keyframes podium-2 {
    0% {
        transform: translateY(70vh);
    }

    50% {
        transform: translateY(-5vh);
    }

    90% {
        transform: translateY(0vh);
    }
}

/* Come into results */
@keyframes podium-3 {
    0% {
        transform: translateY(70vh);
    }

    40% {
        transform: translateY(-5vh);
    }

    80% {
        transform: translateY(0vh);
    }
}

.transitioning {
    animation: Bounce 0.5s ease-in-out;
}

.entering {
    animation: inverseBounce 0.45s ease-in-out;
}

.podium-1 {
    animation: podium-1 1.5s ease-in-out;
}

.podium-2 {
    animation: podium-2 1.5s ease-in-out;
}

.podium-3 {
    animation: podium-3 1.5s ease-in-out;
}

.student-item {
    width: 100%;
    align-items: center;
    padding: 5px 0;
    /* Adjust padding as needed */
}

.progress-bar-container {
    width: 80%;
    background-color: #f3f3f3;
    border-radius: 50px;
    overflow: hidden;
}

.progress-bar-container-dark {
    width: 70%;
    background-color: #dadada;
    border-radius: 50px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #19bd24;
    border-radius: inherit;
    transition: width 0.5s ease-in-out;
}

.progress-bar-gold {
    height: 100%;
    background-color: #c79f26;
    border-radius: inherit;
    transition: width 0.5s ease-in-out;
}

.progress-bar-silver {
    height: 100%;
    background-color: #969898;
    border-radius: inherit;
    transition: width 0.5s ease-in-out;
}

.progress-bar-bronce {
    height: 100%;
    background-color: #986032;
    border-radius: inherit;
    transition: width 0.5s ease-in-out;
}